.titleConcertPage{
    background: rgba(211, 211, 211, 0.5);
}

.imageConcert{
    width: 70%;
}

.concertInformations{
    color: black;
    text-align: justify;
    /* background-color: rebeccapurple; */
}

.buttonReservationConcert{
    background-color:  #b465da;
    border: none;
    color: white;
}

.cardOtherConcert{
    width: 30%;
    margin: 1%;
    display: inline-block;
}
.reservationTitle{
    color: black;
}
.trSeat{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.seatTd{
    background-color: green;
    width: 70px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    cursor: pointer;
}

.seatChosen{
    background-color: cyan;
}
#seatChosen{
    color: black;
}
.seatTaken{
    background-color: red;
    cursor: not-allowed;
}
