.buttonCheckAccount{
    background-color: #8C52FF;
    color: white;
    border-color: #8C52FF;
    margin: auto;
}

.buttonReservationCancel{
    background-color: #64BAA9;
    color: white;
    border-color: #64BAA9;
    font-weight: bold;
}