.fondNavbar{
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.navbar-light .navbar-nav .nav-link{
    color: #8F00E6;
    padding-right: 2vh;
    padding-left: 2vh;
}

.loginLink{
    color: white;
    text-decoration: none;

}

.test{
    margin: auto;
}

.formSearch{
    /* background-color: red; */
    width: 100%;
    margin-left : 40%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.searchButton{
    background-color: #64BAA9;
    color: white;
}
/* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: red;
} */

.navbarTop__icon{
    color: #cfc4da;
    
}

.navbar__logo{
    height: 80px !important;
    object-fit: contain !important;
}
