@import './../../App.css';

.main-footer{

    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    color: white;
    /* text-shadow: 1px 1px 10px black !veryimportant; */
    bottom: 0;
}

.copyright{
    text-align: center;
}

.borderColumn{
    border-right: 1px solid white;
}

.centerNewsReseau{
    text-align: center;
}
.formNewsletter{
    margin-left: 27%;
}

.buttonNewsletter{
    background-color: var(--secondary-bg-color,#32BEAF);
    color: white;
    /* AMELIORER LE CSS */
}

.noStyleLink{
    color: white;
    text-decoration: none;
}

.socialIcons{
    width: 40%;
    margin:auto;
}

.footer__link{
    color: white;
}

.footer__link:hover{
    color: white;
}
li{
    white-space: nowrap;
}
